.switch__switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 34px;

  input {
    display: none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-background-secondary-white);
    border: var(--border-bold);
    border-color: var(--color-typo-primary-black);
    box-shadow: var(--elevation-normal);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
    &:hover {
      transform: translateX(-4px) translateY(-4px);
      box-shadow: var(--elevation-high);
    }
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 6px;
    background-color: var(--color-core-primary-violet);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: var(--border-radius-full);
    border: var(--border-bold);
    border-color: var(--color-typo-primary-black);
  }

  input:checked + .slider {
    background-color: #9747ff;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(85px);
    background-color: var(--color-background-secondary-white);
  }

  .slider:after {
    content: attr(data-disabled-content);
    color: var(--color-typo-primary-black);
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: var(--font-size-text-medium);
    font-weight: var(--font-weight-x-bold);
    font-family: var(--font-main-family);
  }

  input:checked + .slider:after {
    content: attr(data-active-content);
  }
}
