.recovery__page {
  height: var(--size-relative-full);
  width: var(--size-relative-full);
  display: flex;
  box-sizing: border-box;
  padding: var(--spacing-vertical-medium) var(--spacing-horizontal-large);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recovery__header {
  width: var(--size-relative-large);
  margin-bottom: var(--spacing-vertical-medium);
}

.recovery__header__title {
  font-size: var(--font-size-heading-medium);
  line-height: 32px;
  font-weight: var(--font-weight-semi-bold);
}

.recovery__form {
  width: var(--size-relative-large);
}
