.register__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: var(--size-relative-full);
}

.register__container {
  height: var(--size-relative-full);
  width: var(--size-relative-full);
  padding: var(--spacing-horizontal-medium);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-horizontal-medium);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.register__header {
  width: var(--size-relative-large);
}

.register__header__title {
  font-size: var(--font-size-heading-medium);
  line-height: 32px;
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-vertical-tiny);
}

.register__header__subtitle {
  font-size: var(--font-size-text-large);
  line-height: 30px;
  font-weight: var(--font-weight-normal);
}

.register__form {
  margin-top: var(--spacing-vertical-medium);
  width: var(--size-relative-large);
}

.register__form__address {
  display: flex;
  gap: var(--spacing-horizontal-light);
}

.register__form__other {
  display: flex;
  gap: var(--spacing-horizontal-light);
  justify-content: space-between;
}

.register__form__button {
  margin-top: var(--spacing-vertical-light);
}
