@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
  font-family: Nunito, Roboto, Arial;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  height: 100vh;
  min-width: 100%;
  box-sizing: border-box;
  background-color: var(--color-background-primary-gray);
  ::-webkit-scrollbar {
    display: none;
  }
}
